/* Fondo para la app */
.stApp {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Inputs personalizados */
input {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

/* Placeholders */
input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

/* Botón de login */
button[kind="primary"] {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

button[kind="primary"]:hover {
    background-color: black;
    color: white;
}

/* Estilo personalizado para los mensajes de error */
div.stAlert[data-baseweb="alert"] {
    background-color: rgba(255, 0, 0, 0.85);  /* rojo sólido */
    color: white;
    border-radius: 8px;
    padding: 16px;
}

/* Estilo para mensajes de éxito */
div.stAlert[data-baseweb="alert"][role="alert"] div[style*="green"] {
    background-color: rgba(0, 128, 0, 0.85);  /* verde sólido */
    color: white;
}